.user__profession {
  max-width: inherit;
  font-family: 'inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 700px){
  .user__profession {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}
