.button-save:hover {
  cursor: pointer;
  opacity: 0.8;
}
.button-save {
  background-color: #000000;
  color: white;
  font-family: 'inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  height: 50px;
  padding: 0;
  border-radius: 2px;
  border: none;
  border-width: 0px;
  box-sizing: border-box;
  margin: 0px calc((100% - 358px) / 2);
  opacity: 1;

}
.button-save:disabled {
  opacity: 0.2;
  cursor: none;
}

@media (max-width: 700px) {
  .button-save {
    height: 46px;
    margin: 0px calc((100% - 238px) / 2);
  }
}
